
.App{
  display:flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url(content/balazs-busznyak-MO695Hfc0j0-unsplash.jpg);
  background-attachment: fixed ;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  background-position: center;
  
  
}